<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>login UI</title>
    <link rel="stylesheet" href="{% static 'web/css/login.css' %}">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=0.5">
</head>

<body>
<div class="box">
    <h2>打卡</h2>
    <form action="/api" method="post">{% csrf_token %}
        <div class="inputBox">
            <input type="text" name="name" required="required">
            <label>用户名</label>
        </div>
        <div class="inputBox">
            <input type="password" name="pwd" required="">
            <label>密码</label>
        </div>
        <input type="submit" name="" value="登录">
        <a>{{ error.login_error }}</a>
    </form>

</div>
</body>
</html>
